Repository hauleth/erlang-systemd, changes with the labels that .github/labeler.yml gives for each.
All labels: scope/example/plug, scope/example/echo, scope/tests, scope/api, scope/journal, scope/watchdog, scope/ci

.github/labeler.yml:

scope/example/plug:
  - any: ['example/plug/**/*']

scope/example/echo:
  - any: ['example/echo/**/*']

scope/tests:
  - any: ['test/*']

scope/api:
  - any: ['src/systemd.erl']

scope/journal:
  - any: ['src/systemd_journal_h.erl', 'src/systemd_kmsg_formatter.erl']

scope/watchdog:
  - any: ['src/systemd_watchdog.erl']

scope/ci:
  - any: ['.github/workflows/*']

fix: fix dialyzer error for systemd:set_status/1
  src/systemd.erl
Labels: scope/api

fix: Update enough
  rebar.config
  rebar.lock
Labels: none

fix: fix dialyzer error for systemd:set_status/1
  src/systemd.erl
Labels: scope/api

ft: send MAINPID message on socket start
  src/systemd.erl
  src/systemd_kmsg_formatter.erl
  src/systemd_socket.erl
  test/systemd_SUITE.erl
Labels: scope/tests, scope/api

ft: send MAINPID message on socket start
  src/systemd.erl
  src/systemd_kmsg_formatter.erl
  src/systemd_socket.erl
  test/systemd_SUITE.erl
Labels: scope/tests, scope/api

chore: add Bandit as possible server in Plug example
  examples/plug/lib/plug_systemd_example/application.ex
  examples/plug/mix.exs
  examples/plug/mix.lock
  examples/plug/systemd/plug.service
  examples/utils.mk
Labels: none

fix(journal_h): Dialyzer error
  examples/plug/mix.exs
  examples/plug/mix.lock
  src/systemd_journal_h.erl
Labels: none

chore: change supported Erlang versions
  .github/workflows/erlang.yml
Labels: scope/ci

chore: update CHANGELOG [skip ci]
  CHANGELOG.md
Labels: none

fix: typespecs for watchdog/1
  src/systemd.erl
Labels: scope/api

chore: update CHANGELOG [skip ci]
  CHANGELOG.md
Labels: none

docs: correct the in-doc description of return value for watchdog/1
  src/systemd.erl
Labels: scope/api

chore: update CHANGELOG [skip ci]
  CHANGELOG.md
Labels: none

ft: add warning log message if there is no readiness message sent
  src/systemd.app.src
  src/systemd.erl
  src/systemd_socket.erl
  src/systemd_watchdog.erl
  test/logger_send_back_h.erl
  test/systemd_SUITE.erl
Labels: scope/tests, scope/api, scope/watchdog

chore: update CHANGELOG [skip ci]
  CHANGELOG.md
Labels: none

chore: update GHA badge in README
  README.md
Labels: none

ft: helper function for accessing credentials directory
  src/systemd.erl
Labels: scope/api

chore: update CHANGELOG [skip ci]
  CHANGELOG.md
Labels: none

docs: fix typo
  src/systemd.erl
Labels: scope/api

chore: drop OTP 24 from test matrix
  .github/workflows/erlang.yml
Labels: scope/ci

chore: update CHANGELOG [skip ci]
  CHANGELOG.md
Labels: none

ft: rename `auto_formatter` to `install_kmsg`
  README.md
  src/systemd.app.src
  src/systemd_app.erl
  src/systemd_kmsg_formatter.erl
Labels: none

ft: send monotonic timestamp when restarting
  src/systemd.erl
  test/systemd_SUITE.erl
Labels: scope/tests, scope/api

ft: add support for `notify-reload` and automatic reload handling
  examples/echo/config/sys.config
  examples/echo/src/echo_app.erl
  examples/echo/systemd/echo.service
  examples/plug/systemd/plug.service
  src/systemd.app.src
  src/systemd.erl
  src/systemd_env.erl
  src/systemd_signal_handler.erl
  src/systemd_socket.erl
  src/systemd_sup.erl
  src/systemd_watchdog.erl
  test/systemd_SUITE.erl
  test/systemd_test_utils.erl
  test/systemd_watchdog_SUITE.erl
Labels: scope/tests, scope/api, scope/watchdog

chore: update CHANGELOG [skip ci]
  CHANGELOG.md
Labels: none

chore: update actions/cache action
  .github/workflows/erlang.yml
Labels: scope/ci

chore: update actions/cache action
  .github/workflows/erlang.yml
Labels: scope/ci

ft: add support for `notify-reload` and automatic reload handling
  examples/echo/config/sys.config
  examples/echo/src/echo_app.erl
  examples/echo/systemd/echo.service
  examples/plug/lib/plug_systemd_example/application.ex
  examples/plug/lib/plug_systemd_example/router.ex
  examples/plug/mix.exs
  examples/plug/mix.lock
  examples/plug/systemd/plug.service
  src/systemd.app.src
  src/systemd.erl
  src/systemd_env.erl
  src/systemd_signal_handler.erl
  src/systemd_socket.erl
  src/systemd_sup.erl
  src/systemd_watchdog.erl
  test/systemd_SUITE.erl
  test/systemd_test_utils.erl
  test/systemd_watchdog_SUITE.erl
Labels: scope/tests, scope/api, scope/watchdog

doc: add systemd to the list of applications in your .app.src file (#37)
  README.md
Labels: none

ft: add support for `notify-reload` and automatic reload handling
  examples/echo/config/sys.config
  examples/echo/src/echo_app.erl
  examples/echo/systemd/echo.service
  examples/plug/lib/plug_systemd_example/application.ex
  examples/plug/lib/plug_systemd_example/router.ex
  examples/plug/mix.exs
  examples/plug/mix.lock
  examples/plug/systemd/plug.service
  src/systemd.app.src
  src/systemd.erl
  src/systemd_env.erl
  src/systemd_signal_handler.erl
  src/systemd_socket.erl
  src/systemd_sup.erl
  src/systemd_watchdog.erl
  test/systemd_SUITE.erl
  test/systemd_test_utils.erl
  test/systemd_watchdog_SUITE.erl
Labels: scope/tests, scope/api, scope/watchdog

chore: update CHANGELOG [skip ci]
  CHANGELOG.md
Labels: none

ft(journal_h): add `script_name` field
  src/systemd_journal_h.erl
  test/systemd_journal_h_SUITE.erl
Labels: scope/tests

fix(journal_h): `syslog_identifier` emits an empty SYSLOG_IDENTIFIER
  src/systemd_journal_h.erl
  test/systemd_journal_h_SUITE.erl
Labels: scope/tests

ft(journal_h): add `script_name` field
  src/systemd_journal_h.erl
  test/systemd_journal_h_SUITE.erl
Labels: scope/tests

fix(journal_h): `syslog_identifier` emits an empty SYSLOG_IDENTIFIER
  src/systemd_journal_h.erl
  test/systemd_journal_h_SUITE.erl
Labels: scope/tests

chore: update CHANGELOG [skip ci]
  CHANGELOG.md
Labels: none
